body.bottom-drawer-shown {
  margin-bottom: 400px;
}
body {
  transition: margin 0.4s ease-in-out;
}

div.bottom-drawer {
  width: 100%;
  height: 400px;
  position: fixed;
  bottom: -400px;
  background-color: white;
  transition: all 0.4s ease-in-out;
}

h1.bottom-drawer-title {
  margin-left: 5%;
  margin-top: 10px;
}

div.bottom-drawer.shown {
  bottom: 0px;
  box-shadow: 0px 2px 8px 0px rgba(204,204,204,1);
}

div.bottom-drawer-title {
  padding: 15px;
  display: flex;
}

div.bottom-drawer span.close-button {
  font-size: 40px;
  font-weight: 100;
  padding: 3px 8px;
  border-radius: 2px;
  background-color: rgba(0,0,0,0.03);
  transition: all 0.1s ease-in-out;
  user-select: none;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
}
div.bottom-drawer span.close-button:hover {
  background-color: rgba(0,0,0,0.1);
}

div.bottom-drawer-shop {
  box-shadow: inset 0px 0 5px 2px rgba(204,204,204,1);
  height: 80%;
  padding: 15px;
  margin: 20px 10px;
  border-radius: 0;
  background-color: cornsilk;
  overflow-x: auto;
  display: flex;
  flex-wrap: wrap;
}
div.bottom-drawer-shop-item {
  width: 250px;
  height: 80px;
  background-color: #fcfcfc;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 0px 2px 8px 0px rgba(204,204,204,1);
  transition: all 0.2s ease-in-out;
  border: 1px solid white;
  cursor: pointer;
  position: relative;
}
div.bottom-drawer-shop-item:hover {
  box-shadow: 1px 3px 8px 0px rgba(204,204,204,1);
  border: 1px solid #b3ebbc;
}
div.bottom-drawer-item-title {
  font-size: 18px;
  position: absolute;
  top: 3px;
  left: 3px;
  font-weight: 800;
}
div.bottom-drawer-item-cost {
  font-size: 18px;
  position: absolute;
  top: 3px;
  right: 3px;
  text-align: right;
}
div.bottom-drawer-item-description {
  position: absolute;
  font-weight: 100;
  top: 27px;
  left: 3px;
}