div.table {
  width: 100%;
  color: white;
  overflow: hidden;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

div.table-header {
  width: 100%;
  display: flex;
  background-color: #113951;
}

div.table-title {
  width: 100%;
  padding: 12px 8px;
  font-weight: 500;
  flex: 1;
}
div.table-title.right {
  text-align: right;
}
div.table-title.center {
  text-align: center;
}

div.table-body {
  width: 100%;
}

div.table-row {
  width: 100%;
  display: flex;
}
div.table-row:nth-child(1) {
  border-top: 1px solid black;
}
div.table-row:nth-child(even) {
  background-color: #6F8FA2;
}
div.table-row:nth-child(odd) {
  background-color: #477087;
}

div.table-text {
  width: 100%;
  padding: 8px;
  font-weight: 100;
  flex: 1;
  border-left: 1px solid #5e8296;
}
div.table-text.right {
  text-align: right;
}
div.table-text:first-child {
  border-left: none;
}

div.table button {
  letter-spacing: normal;
  border-radius: 1px;
  color: white;
  padding: 0;
  width: 100%;
  height: 100%;
  border: none;
  user-select: none;
  background-color: rgba(0,0,0,0.1);
}

div.table button:hover {
  background-color: rgba(0,0,0,0.15);
}

div.table .half { flex-grow: .5; }
div.table .one { flex-grow: 1; }
div.table .two { flex-grow: 2; }
div.table .three { flex-grow: 3; }
div.table .four { flex-grow: 4; }
div.table .five { flex-grow: 5; }
div.table .six { flex-grow: 6; }